In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
#variables and integers
print(5+7)
# PEMDAS
8*7+3/2-4

12

53.5

In [3]:
#assignmnet operator
a=7
b=7
#comparisom operator
a==b
# addresses
print(id(a))
print(id(b))
# shallow copy/copy by refrence: copy only address
# deep copy:

140733491880528
140733491880528

In [4]:
# type func
a=7 
type(a)

int

In [5]:
b=20.0
type(b)

float

In [8]:
print(type('1111'))

<class 'str'>

In [9]:
print(type("""PAKISTAN 989898"""))

<class 'str'>

In [12]:
# lists (hetrogenous datatype and muteable)
names = ['ali','hamza',12,22.0,True,False]
type(names)

list

In [13]:
# array (homogenous data type(all elements have the same data types)) arrays have fixed size
# tuples-immutable
names = ('ali','hamza',12,22.0,True,False)
type(names)

tuple

In [14]:
# set outputs unique values set does not supports indexing
names = {"ali","hamza","zain","ali"}
print(type(names))
print(names)
# typecasting: conversion of one datatype to other
names = list(names)
print(type(names))
print(names[1])

<class 'set'>
{'zain', 'hamza', 'ali'}
<class 'list'>
hamza

In [17]:
# dictionaries key value pair
data = {"name":"zain ul arfeen","father_name":"mehmood ul arfeen"}
print(data['father_name'])
type(data)

mehmood ul arfeen

dict

In [18]:
name = "zain"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
# inline operation and in memory operation
name = "zain"
name = name.upper()
print(name)

ZAIN

In [22]:
# strip , lstrip, rstrip

In [24]:
a = "We are Pakistani we love our country"
a.find("Pakistan")

7

In [37]:
# concatination in py
name = "hamza"
fname = "konain"
program = "piaic"
score = 200
print("student name: %s \n Father's Name: %s \n \
Program: %s \n Score: %s" %(name,fname,program,score))
print("------------------------------------------")
name = "hamza"
fname = "konain"
program = "piaic"
score = 200
print("student name: %s  Father's Name: %s Program: %s  Score: %s" %(name,fname,program,score))

student name: hamza
 Father's Name: konain
 Program: piaic
 Score: 200
------------------------------------------
student name: hamza  Father's Name: konain Program: piaic  Score: 200

In [40]:
name = "zain"
fname = "Ali"
program = "CS"

"student Name: "+name+"\n'Father's Name:"+fname+"\nProgram: "+program

"student Name: zain\n'Father's Name:Ali\nProgram: CS"

In [36]:
# concatination in py3
name = "zain"
fname = "mehmood"
program = "AI"

f'Student name {name} \n father name {name} \n program{program}'

'Student name zain \n father name zain \n programAI'

In [26]:
"Name :{} , Fname:{}".format(name,fname)

'Name :zain , Fname:mehmood'