functions: set of statement.

    required functions: without this args func cant work
    optionl arguments: extra argument 
    return: position matters
    no return
    defult argument
    positional arguments: 
    keyword arguments: position does'nt matter
    argument with list
    argument with dictionary
    recursive function: 
    generator function: remembers its old value
    lambda func: one line function 
  Types:
    predefined functions: built in functions
    user defined functions: functions build

# predefined functions

In [5]:
print("abc")
print(len("asdasdasd"))
print(type(22))
print(id("a"))

abc
9
<class 'int'>
1615896047472


# Usedefined Functions

In [6]:
#Default Argument
def pakistanZindabad():
    print("pakistan zindabad")
    
pakistanZindabad()

pakistan zindabad

# Required Argument

In [15]:

def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    print(text)

id_card(1645,"Zain","Arfeen","AI","900-1200")
id_card(1693,"waleed","khan","AI","1200-3000")

        PIAIC ISLAMABAD
        id : 1645
        Name : Zain
        father's Name :Arfeen
        course : AI
        timing : 900-1200


        PIAIC ISLAMABAD
        id : 1693
        Name : waleed
        father's Name :khan
        course : AI
        timing : 1200-3000

In [16]:
data = [[1,"Ali","Arshad","AI","9 to 12"],
        [2,"Hamza","Arshad","AI","9 to 12"],
        [3,"Waleed","hafeez","AI","9 to 12"],
        [4,"Hamza","shafi","AI","9 to 12"]]

for v in data:
    id_card(*v)
    
# id_card(v[0],v[1],v[2],v[3])

        PIAIC ISLAMABAD
        id : 1
        Name : Ali
        father's Name :Arshad
        course : AI
        timing : 9 to 12


        PIAIC ISLAMABAD
        id : 2
        Name : Hamza
        father's Name :Arshad
        course : AI
        timing : 9 to 12


        PIAIC ISLAMABAD
        id : 3
        Name : Waleed
        father's Name :hafeez
        course : AI
        timing : 9 to 12


        PIAIC ISLAMABAD
        id : 4
        Name : Hamza
        father's Name :shafi
        course : AI
        timing : 9 to 12

# Optional Argument

In [18]:
def optional_Args(x,y=0,z=0):
    print(x+y+z)
    
optional_Args(5)
optional_Args(5,7)
optional_Args(5,7,8)

5
12
20

Return Functions: on call gives result but we can assign its value to variable
no-Retuen :  on call gives result but we can not assign its value to variable

# Return Function

In [25]:
def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    return text,"qasim","Ali"

print(*id_card(12,"Ali","Baba","choar","chaali"))

        PIAIC ISLAMABAD
        id : 12
        Name : Ali
        father's Name :Baba
        course : choar
        timing : chaali
     qasim Ali

In [27]:
def abc(x=0,y=0,z=0):
    return x*y*z

abc(2,2,3)

12

# Keyword Arguments

In [28]:
def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    return text

print(id_card(sname="Zain",fname="Arfeen",sid="1654",course="AI",timing="900-1200"))

        PIAIC ISLAMABAD
        id : 1654
        Name : Zain
        father's Name :Arfeen
        course : AI
        timing : 900-1200

In [30]:
def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    return text
#first put positional arguments than keyword args
print(id_card(1645,"Zain",fname="Arfeen",timing="900-1200",course="AI"))

        PIAIC ISLAMABAD
        id : 1645
        Name : Zain
        father's Name :Arfeen
        course : AI
        timing : 900-1200

# Argumnets with List

In [31]:
def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    return text

l1 = [1,"Ali","Arshad","AI","9 to 12"];

print(id_card(*l1))

        PIAIC ISLAMABAD
        id : 1
        Name : Ali
        father's Name :Arshad
        course : AI
        timing : 9 to 12

# Argument with Dictionary

In [35]:
def id_card(sid,sname,fname,course,timing):
    text = """
        PIAIC ISLAMABAD
        id : {}
        Name : {}
        father's Name :{}
        course : {}
        timing : {}
    """.format(sid,sname,fname,course,timing)
    return text

d1 = {
    'course':'AI',
    'sname':'Zain',
    'fname':'Arfeen',
    'sid': 1645,
    'timing':"9 sy 12"
}

print(id_card(**d1))

        PIAIC ISLAMABAD
        id : 1645
        Name : Zain
        father's Name :Arfeen
        course : AI
        timing : 9 sy 12

# Recursive function

In [38]:
def abc(n):
    if n==1:
        return 1
    return n*abc(n-1)
abc(6)

720

# Generator Function

In [42]:
# in generator func yield is used instead of return
def abc():
    for i in range(11):
        yield i
        
a=abc()
print(a)
print(next(a))
print(next(a))
print(list(a))

<generator object abc at 0x000001783D7FC3C8>
0
1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

# Lambda Function

In [43]:
def xyz(a,b):
    return a+b

xyz(5,8)

13

In [46]:
axz = lambda a,b: a+b
axz(12,2)

14

In [48]:
alpha = lambda a,b:

alpha(12,2)

NameError: name 'b' is not defined