In [1]:
#power
2**3

8

In [2]:
#floor 
11//3

3

In [3]:
#mod
11%3

2

# COMPARISOIN OPERATORS

In [4]:
a=2 
b=2
a==b

True

In [5]:
6>10

False

In [6]:
10>=10

True

In [7]:
65 =A -> 90=Z
97=a -> 122=b
48=0 -> 57=9

'A'

In [14]:
print(chr(65))
print(chr(90))

A
Z

In [10]:
ord("A")

65

In [12]:
ord("A") == chr(65)

False

In [15]:
'qasim' == 'qasim'

True

In [16]:
'qasim' == "Qasim"

False

In [17]:
'qasim' !="Qasim"

True

In [18]:
"qasim" != "qasim"

False

# Assignmnet Operators

In [23]:
a = 5
print(a)

5

In [24]:
# values override
a=1
a=2
a=3
a=4
print(a)

4

In [25]:
a =1 
a +=2 
a += 3
print(a)

6

SyntaxError: invalid syntax (<ipython-input-29-15ea75495d87>, line 1)

In [33]:
a =1 
a *=2 
a *= 9
print(a)

18

In [34]:
a =16
a /=32
a /= 2
print(a)

0.25

In [37]:
# Floor division
a =64
a //=8
a //= 2
print(a)

4

In [38]:
a =16
a **=2
a **=4
print(a)

4294967296

In [43]:
a ="A"
a *= 3 
print(a)

AAA

In [46]:
a ="A"
a += "B"
a += "C"
print(a)

ABC

# LOGICAL OPERATORS

and
or
not

In [50]:
user ="Qasim"
password = "Qasim"

if user == password:
    print("True")
else:
    print("fasle")

True

In [51]:
True

True

In [52]:
True & True

True

In [53]:
True & True & False

False

In [57]:
a= "A"
b = "B"
c = "C"
d = "D"

print((a=="A") & (b=="B") & (c=="C") & (d=="D"))
print(a=="A" and b=="B" and c=="C" and d=="D")

True
True

In [58]:
True and True and False and True

False

In [59]:
True or True or False or True or False

True

In [63]:
a= "A"
b = "B"
c = "C"
d = "D"

print((a=="Z") | (b=="B") | (c=="F") | (d=="D"))
print(a=="Z" or b=="B" or c=="F" or d=="D")

True
True

In [67]:
user = input("user name : ")
password = input("password : ")
print((user == "Qasim") or (user == "Admin") or (user == "abc") and (password == "123"))

user name : zain
password : 123
False

In [68]:
not (True and True)

False

# BITWISE OPERATORS

In [75]:
28 & 29

28

In [76]:
ord("A") & ord("B")

64

In [80]:
28 | 29

29

In [81]:
ord("A") | ord("B")

67

# LEFT Shift

In [82]:
29<<2

116

# RIGHT Shift

In [83]:
29>>2

7

# Membership Operators

In [84]:
names = ["qasim","ali","Ahmed"]
"qasim" in names

True

In [88]:
username = "Zain"
password = "123"

name = input("Name : ")
passw = input("pass : ")
if (name == username) and (passw == password):
    print("TRUE")
else:
    print("FALSE")

Name : ahmed
pass : 123
FALSE